body, html{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background: url("https://res.cloudinary.com/ddtech/image/upload/v1568622321/Team%20Heroes/page_background_vgks3h.png") no-repeat center;
    height: 100%;
    background-size: cover;
    /*-webkit-filter: blur(3px); !* Safari 6.0 - 9.0 *!*/
    /*filter: blur(3px);*/
}
.first-box{
    background: rgba(34, 34, 34, 0.85);
    border-radius: 2px;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 50%;
    height: 40%;
    transform: translate(-50%, -50%);
}

.first-box h3{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #CCCCCC;
    position: absolute;
    width: 139px;
    height: 46px;
    left: 45px;
    top: 80px;
}

.first-box p{
    color: #CCCCCC;
    left: 45px;
    top: 135px;
    position: absolute;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
}

.first-box .sign-up{
    color: #ffffff;
    left: 45px;
    border-radius: 2px;
    width: 100px;
    height: 25px;
    padding: 5px;
    border: 1px solid #ffffff;
    background: rgba(34, 34, 34, 0.85);
    top: 200px;
    position: absolute;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
}


.login{
    background: #F9F9F9;
    position: absolute;
    width: 350px;
    height: 330px;
    left: 0px;
    top: 0px;
}

img {
    width:50px;
    height: 50px;
    display: flex;
    justify-content: center;
}
