body, html{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background: url("https://res.cloudinary.com/ddtech/image/upload/v1568622321/Team%20Heroes/page_background_vgks3h.png") no-repeat center;
    height: 100%;
    background-size: cover;
    /*-webkit-filter: blur(3px); !* Safari 6.0 - 9.0 *!*/
    /*filter: blur(3px);*/
}
.first-box{
    background: rgba(34, 34, 34, 0.85);
    border-radius: 2px;
    box-sizing: border-box;
    top: 45%;
    left: 50%;
    position: absolute;
    width: 30%;
    height: 60%;
    transform: translate(-50%, -50%);
}

.first-box h3{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #CCCCCC;
    position: absolute;
    width: 150px;
    height: 46px;
    left: 300px;
    top: 300px;
}
.login-box{
    background-color: #F9F9F9;
    width: 480px;
    height: 480px;
    border-radius: 2px;
    position: absolute;
    left: 7%;
    top: -10%;
}

.logo{
    width: 80px;
    height: 80px;
    left: 240px;
}

/*.first-box p{*/
/*    color: #CCCCCC;*/
/*    left: 300px;*/
/*    top: 450px;*/
/*    position: absolute;*/
/*    font-weight: bold;*/
/*    font-size: 10px;*/
/*    line-height: 14px;*/
/*}*/

/*.first-box .sign-up{*/
/*    color: #ffffff;*/
/*    left: 300px;*/
/*    border-radius: 2px;*/
/*    width: 100px;*/
/*    height: 25px;*/
/*    padding: 5px;*/
/*    border: 1px solid #ffffff;*/
/*    background: rgba(34, 34, 34, 0.85);*/
/*    top: 500px;*/
/*    position: absolute;*/
/*    font-weight: bold;*/
/*    font-size: 10px;*/
/*    line-height: 14px;*/
/*}*/


/*.login{*/
/*    background: #F9F9F9;*/
/*    position: absolute;*/
/*    width: 300px;*/
/*    height: 400px;*/
/*    left: -70px;*/
/*    top: -20px;*/
/*}*/

.center > img {
    width:5px;
    height: 10px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}


.footer{
    position: fixed;
    font-size: 14px;
    font-weight: 500;
    left: 0;
    bottom: 15%;
    width: 100%;
    color: white;
    text-align: center;
}
