body, html{
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background: url("https://res.cloudinary.com/ddtech/image/upload/v1568715140/Team%20Heroes/background_taugtm.png") no-repeat center;
    height: 100%;
    background-size: cover;
    /*-webkit-filter: blur(3px); !* Safari 6.0 - 9.0 *!*/
    /*filter: blur(3px);*/
}
.first-box{
    background: rgba(34, 34, 34, 0.85);
    border-radius: 2px;
    box-sizing: border-box;
    top: 45%;
    left: 50%;
    position: absolute;
    width: 30%;
    height: 60%;
    transform: translate(-50%, -50%);
}
.box-footer{
    margin-top: 80%;
}
.box-footer h4{
    color: #CCCCCC;
    font-size: 16px;
    margin-left: 35px;
}
.box-footer span{
    color: #CCCCCC;
    font-size: 12px;
    margin-left: 35px;
}
.box-footer .signup{
    margin-left: 40%;
border-radius: 2px;
    color: white;
  width: 100px;
    font-size: 13px;
    cursor: pointer;
    height: 25px;
    background: rgba(34, 34, 34, 0.85);
}

.login-box{
    background-color: #F9F9F9;
    width: 480px;
    height: 480px;
    border-radius: 2px;
    position: absolute;
    left: 7%;
    top: -10%;
}

.logo{
    width: 90px;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.login-form{
    margin-top: 50px;
    margin-left: 35px;
    color: #CCCCCC;
}
.login-form input[type="text"], input[type="password"] {
    border: none;
    letter-spacing: 2px;
    background: transparent;
    outline: none;
    width: 80%;
    border-bottom: 1px solid #CCCCCC;
}
.check{
    margin-top: 50px;
    margin-left: 35px;
}

.check p{
    font-size: 16px;
    color: #CCCCCC;
}
.log{
    background: #E8716D;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    width: 120px;
    height: 30px;
    left: 0px;
    top: 0px;
    border: none;
}

.social-icon{
    margin-left: 35px;
    margin-top: 40px;
}
.social-icon p{
    font-size: 16px;
    color: #CCCCCC;
}
.social-icon ul{
    list-style: none;
    margin-left: -40px;
}
.social-icon ul li{
    display: inline-block;
}
.social-icon li img{
    width:30px;
    height: 30px;
}

.center > img {
    width:5px;
    height: 10px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}


.footer{
    position: fixed;
    font-size: 14px;
    font-weight: 500;
    left: 0;
    bottom: 15%;
    width: 100%;
    color: white;
    text-align: center;
}
